Makefile*
libbotan*.so.*
*.a
*.so
*.exp
*.lib
*.dll
*.exe
*.manifest
build
build.log
botan
botan-test

# Text file backups (e.g. gedit, joe)
*~

# Amalgamation code
botan_all.h
botan_all_internal.h
botan_all.cpp
botan_all_*.cpp
