language: cpp

os:
  - linux

compiler:
  - clang
  - gcc

env:
  - BUILD_MODE="shared"
  - BUILD_MODE="static"
  - BUILD_MODE="coverage"

matrix:
  exclude:
    - compiler: clang
      env: BUILD_MODE="coverage"

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo ./src/scripts/ci/setup.sh

script:
  - ./src/scripts/ci/build.sh

after_success:
  - ./src/scripts/ci/after_success.sh

notifications:
  email: lloyd@randombit.net

