compiler:
  - gcc

language: cpp

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq g++-4.8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 90

script:
  - $CXX --version
  - python configure.py
  - "make"
  - "LD_LIBRARY_PATH=. ./botan-test"

os:
  - linux
